<configuration>
    <packageSources>
        <add key="local" value="D:\Oss\NuGet.Local" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="AppVeyor" value="https://ci.appveyor.com/nuget/nulink-3672eibylf8q" />
    </packageSources>
</configuration>